<head>
  <meta charset="UTF-8">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="main-container">
    <header class="header-w">
      <ul>
        <a href="/posts"><li>Home</li></a>
        <a href="/posts/dashboard"><li>Dashboard</li></a>
        <a href={{#if userId}} "/users/logout" {{^}} "/users/login" {{/if}}>
          <li>{{#if userId}} Logout {{^}} Login {{/if}}</li>
        </a>
      </ul>
      <h1>The Tech Blog</h1>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>
