<div class="body-section">
  <div class="form-title">Login</div>
    <form action="/users/login" method="post" class="auth-form">
      <input type="text" name="username" placeholder="Enter your username" required>
      <input type="password" name="password" placeholder="Enter password" required>
      <button>Login!</button>
      <a href="/users/register">Signup instead</a>
    </form>
</div>