<div class="body-section">
  <div class="form-title">Sign Up</div>
    <form action="/users/register" method="post" class="auth-form">
      <input type="text" name="username" placeholder="Type a username" required>
      <input type="password" name="password" placeholder="Enter password" required>
      <button>Sign Up!</button>
      <a href="/users/login">Login instead</a>
    </form>
</div>