<div class="body-section">
  <div class="form-title">Edit Post</div>
    <form action="/posts/edit/{{post.id}}" class="auth-form" method="post">
      <input type="text" name="title" required={true} value="{{post.title}}">
      <textarea name="text" required={true} maxlength="2000" rows="8">{{post.text}}</textarea>
      <button>Update Post</button>
    </form>
</div>